
@import url(./reset.scss);
@import url(./header.scss);
@import url(./homepage.scss);
@import url(./creator.scss);
@import url(./chair.scss);

* {
    box-sizing: border-box;
    color: #fbf5f3;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #464744;
    margin: 0 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 1fr ;
    grid-template-areas: "header header header"
                         "main main main"
                         "main main main"
                         "footer footer footer";
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main;
    // background-color: green;


}

footer {
    grid-area: footer;
    background-color: blue;

}